## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [2]:
df_train = pd.read_csv('ML-MATT-CompetitionQT1920_train.csv',encoding="windows-1252")
df_train.head()

,Time,CellName,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL,maxUE_DL,maxUE_UL,maxUE_UL+DL,Unusual
0,10:45,3BLTE,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025,4.0,3.0,7,1
1,9:45,1BLTE,21.791,1.891,0.537,0.268,10.273,1.154,1.353,1.085,6.0,4.0,10,1
2,7:45,9BLTE,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995,1.0,1.0,2,1
3,2:45,4ALTE,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995,2.0,2.0,4,1
4,3:30,10BLTE,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011,2.0,1.0,3,0

In [14]:
#Checking null values
df_train.isnull().sum()

Time            0
CellName        0
PRBUsageUL      0
PRBUsageDL      0
meanThr_DL      0
meanThr_UL      0
maxThr_DL       0
maxThr_UL       0
meanUE_DL       0
meanUE_UL       0
maxUE_DL       89
maxUE_UL       89
maxUE_UL+DL     5
Unusual         0
dtype: int64

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36904 entries, 0 to 36903
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Time         36904 non-null  object
 1   CellName     36904 non-null  object
 2   PRBUsageUL   36904 non-null  float64
 3   PRBUsageDL   36904 non-null  float64
 4   meanThr_DL   36904 non-null  float64
 5   meanThr_UL   36904 non-null  float64
 6   maxThr_DL    36904 non-null  float64
 7   maxThr_UL    36904 non-null  float64
 8   meanUE_DL    36904 non-null  float64
 9   meanUE_UL    36904 non-null  float64
 10  maxUE_DL     36815 non-null  float64
 11  maxUE_UL     36815 non-null  float64
 12  maxUE_UL+DL  36899 non-null  object
 13  Unusual      36904 non-null  int64
dtypes: float64(10), int64(1), object(3)
memory usage: 3.9+ MB

In [5]:
X = df_train.drop(['Unusual','maxUE_DL','maxUE_UL','Time','CellName','maxUE_UL+DL'],axis=1)
X.head()

,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL
0,11.642,1.393,0.370,0.041,15.655,0.644,1.114,1.025
1,21.791,1.891,0.537,0.268,10.273,1.154,1.353,1.085
2,0.498,0.398,0.015,0.010,0.262,0.164,0.995,0.995
3,1.891,1.095,0.940,0.024,60.715,0.825,1.035,0.995
4,0.303,0.404,0.016,0.013,0.348,0.168,1.011,1.011

In [6]:
y = df_train['Unusual']
y.head()

0    1
1    1
2    1
3    1
4    0
Name: Unusual, dtype: int64

In [7]:
df_test = pd.read_csv('ML-MATT-CompetitionQT1920_test.csv',encoding="windows-1252")
df_test = df_test.drop(['maxUE_DL','maxUE_UL','Time','CellName','maxUE_UL+DL'],axis=1)
df_test.head()

,PRBUsageUL,PRBUsageDL,meanThr_DL,meanThr_UL,maxThr_DL,maxThr_UL,meanUE_DL,meanUE_UL
0,3.781,1.493,0.575,0.042,22.659,0.743,0.985,0.010
1,2.021,3.335,0.569,0.075,29.265,1.049,1.314,0.010
2,0.505,0.404,0.014,0.010,0.227,0.097,1.011,0.010
3,1.011,0.505,0.238,0.021,20.962,0.609,1.011,1.011
4,3.881,0.498,0.076,0.041,3.936,1.768,1.025,0.010

In [8]:
#Now slpiting the dataset into test and train (train data is use to build our model and test data is used to check our model) we are using 75% data to train our model and 25% to test our model

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.25, random_state=5)

## Logestic Regression

In [9]:
model = LogisticRegression()
model.fit(train_X, train_y)

LogisticRegression()

In [10]:
predict_data = model.predict(test_X)

In [11]:
print("Accuracy: ",metrics.accuracy_score(test_y, predict_data))

Accuracy:  0.7169954476479514

In [12]:
print("classification report for logistic regression:\n{}".format(classification_report(test_y, predict_data)))

classification report for logistic regression:
              precision    recall  f1-score   support

           0       0.72      0.99      0.84      6673
           1       0.11      0.00      0.01      2553

    accuracy                           0.72      9226
   macro avg       0.42      0.50      0.42      9226
weighted avg       0.55      0.72      0.61      9226

In [13]:
predict_test = model.predict(df_test)